/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}


.preloader-wrapper {
  margin: 0 auto;
  margin-top: 90px;
  left: 50%;
  margin-left: -32px;
  position: relative;
}
