
<section class="container-fluid">
  <div class="row">
    <div class="col s12">
      <masonry [options]="{transitionDuration: '0.4s'}">
        <mz-card masonry-brick class="col s6 m4 l3" *ngFor="let brick of bricks |filter:nav.searchModel">
          <mz-card-content>
            {{brick.title}}
          </mz-card-content>
        </mz-card>
      </masonry>

      <!-- <mz-card>
        <mz-card-content>
          <mz-tab [fixedTabWidth]="'true'">
            <mz-tab-item [active]="'true'" [label]="'Login'">
              <app-login></app-login>
            </mz-tab-item>
            <mz-tab-item [label]="'Register'">
              <app-register></app-register>
            </mz-tab-item>
          </mz-tab>
        </mz-card-content>
      </mz-card> -->
    </div>
  </div>
</section>
