// @import './../../../node_modules/materialize-css/sass/components/_color';

section.container-fluid {
  position: relative;
  top: -25px;
}


.brick {
  background: green;
  margin: 5px;
  padding: 15px;
}
